.services-parent-div {
  background-color: white;

  padding: 80px;
}
.service-child-parent {
  padding: 15px;
}

.service-h1 {
  font-size: 40px;
  font-weight: 700;
}
.provider-parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.provide-h3 {
  font-size: 20px;
  font-weight: 700;
}
.blank-div {
  background-color: red;
  width: 100px;
  height: 3px;
  margin: 10px;
}

/* cart design */

.cart-parent-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.cart-div {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 75%;
  height: 300px;
  margin: auto;
}

.icon {
  margin: auto;
  background-color: white;
  font-size: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px rgba(99, 117, 141, 0.8);
}
.cart-header {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
.cart-div:hover {
  cursor: pointer;
}

.cart-div:hover .cart-header {
  color: red;
}

/* Responsive section  */

@media screen and (max-width: 1100px) {
  .cart-parent-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .cart-parent-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart-div {
    width: 100%;
  }
}
