.projects-parent-div {
  /* background: url("https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGRhcmslMjBjb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken; */
}

.amazing-work {
  font-size: 50px;
  margin-bottom: 20px;
}
.amazing-text {
  color: #fe0040;
}
.image-siz {
  height: 700px;
  width: 400px;
}

.box-color-div {
  background-color: black;
  height: 400px;
  width: 100%;
}
