.projects-parent-div {
  /* background: url("https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGRhcmslMjBjb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken; */
}
.box-color-div {
  background-color: black;
  height: 600px;
  width: 100%;
  background-image: url("https://dizme.vercel.app/img/brushes/news/2.png");

  background-attachment: fixed;
}

.third-child-div {
  margin-top: -450px;
  padding: 30px;
}

.amazing-work {
  font-size: 55px;
  margin-bottom: 20px;
}
.amazing-text {
  color: #fe0040;
}
.border-bottom {
  height: 3px;
  width: 600px;
  background-color: white;
  margin: auto;
}
.grid-cart-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}
.cart-body-div {
  width: 500px;

  padding: 25px;
  margin: auto;
}
.live-site-link {
  color: white;
  margin: 10px;
  font-size: 25px;
  font-weight: 500;
}
.image-siz {
  margin: auto;
  height: 400px;
  width: 300px;
}

.text {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.text-p {
  color: white;
  text-align: start;
  line-height: 25px;
}

.button {
  margin: auto;
  border: 2px solid red;
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  color: white;
  font-weight: 500;
}

.button:hover {
  background-color: rgba(255, 0, 34, 0.808);
  border: 3px solid rgb(0, 0, 0);
  color: black;
}

/* Responsive section */
@media screen and (max-width: 1530px) {
  .grid-cart-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .cart-body-div {
    width: 90%;
  }
  .text-p {
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .grid-cart-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .cart-body-div {
    width: 75%;
  }
  .text-p {
    margin: auto;
  }
}
