.projects-parent-div {
  /* background: url("https://images.unsplash.com/photo-1494122353634-c310f45a6d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGRhcmslMjBjb2RlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken; */
}
.box-color-div {
  background-color: black;
  height: 600px;
  width: 100%;
}

.third-child-div {
  margin-top: -400px;
}

.amazing-work {
  font-size: 50px;
  margin-bottom: 20px;
}
.amazing-text {
  color: #fe0040;
}
.border-bottom {
  height: 3px;
  width: 600px;
  background-color: white;
  margin: auto;
}
.grid-cart-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cart-body-div {
  width: 500px;
  padding: 25px;
  margin: 20px;
}
.image-siz {
  margin: auto;
  height: 500px;
  width: 400px;
}

.text {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.text-p {
  color: white;
  text-align: start;
  line-height: 25px;
}

.button {
  margin: auto;
  border: 2px solid red;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  color: white;
  font-weight: 500;
}

.button:hover {
  background-color: rgba(255, 0, 34, 0.808);
  border: 3px solid rgb(0, 0, 0);
  color: black;
}
