.identity-parent-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.first-child-div {
  text-align: start;
}
.second-child-div {
  margin: auto;
}
.hello {
  color: #fe0040;
  font-size: 30px;
}
.name {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
.creative-h2 {
  color: white;
  font-size: 35px;
  font-style: italic;
}
.creative {
  color: green;
}
.bangladesh {
  color: #fe0040;
}
.paragraph-p {
  color: white;
  font-size: 22px;
}
.download-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border: 2px solid #fe0040;
  margin-top: 10px;
  border-radius: 10px;
}

.download-btn:hover {
  background-color: black;
}

/* Responsive section */
