.about {
  font-size: 50px;
  color: white;
}
.me {
  color: red;
}
.border-bottom-about {
  height: 3px;
  width: 400px;
  background-color: white;
  margin: auto;
}

.container-div {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 40px;
}
.about-img {
  height: 600px;
  border-radius: 20px;
}
.about-headingAnd-p-div {
  width: 800px;
  margin-left: 30px;
}
.about-heading {
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
}

.about-p {
  font-size: 18px;
  line-height: 35px;
}

.about-name {
  color: red;
  font-size: 30px;
}

/* Responsive */
@media screen and (max-width: 1300px) {
  .container-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-img {
    text-align: center;
  }
  .about-headingAnd-p-div {
    margin: auto;
    margin-top: 30px;
    width: 700px;
  }
}
@media screen and (max-width: 1280px) {
  .container-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img {
    width: 100%;
  }
  .about-headingAnd-p-div {
    width: 100%;
  }
}
