.home-parent-div {
  background: url("https://topper-company.netlify.app/static/media/ChooseBanner.f7b5b3e4c24927d8f203.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
}

@media screen and (max-width: 1680px) {
  .home-parent-div {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .home-parent-div {
    width: 800px;
  }
}
