.practice-problem-parent-div {
  /* background: url("http://paul-themes.com/html/gilber/assets/img/testimonials.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken; */
  background-color: black;
}
