.dower {
  color: white;
}
.name-text-style {
  color: white;
}
.text-style {
  color: white;
  font-size: 22px;
}
.text-style:hover {
  border: 2px solid white;
}
.color {
  background-color: #fe0040;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}
.color:hover {
  background-color: black;
  color: white;
}
